<span class="fa fa-spinner spinner" *ngIf="loading"></span>

<div class="main">

  <div class="title-div">
    <h2 class="title">Adventure AWAITS</h2>
  </div>

    <a href="#section2" class="section1"><i class="fa fa-arrow-down"></i></a>

  <div id="section2">
    <div class="responsive" >
        <div class="gallery">
          <a>
            <img src="../../assets/images/adventure1.jpg" alt="Cinque Terre" width="600" height="400">
          </a>
          <div class="desc">BungeJumping</div>
        </div>
      </div>


      <div class="responsive">
        <div class="gallery">
          <a>
            <img src="../../assets/images/adventure2.jpg" alt="Forest" width="600" height="500">
          </a>
          <div class="desc">Zipplining</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a>
            <img src="../../assets/images/adventure3.jpg" alt="Mountains" width="600" height="400">
          </a>
          <div class="desc">Moutain Climbing</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a>
            <img src="../../assets/images/adventure4.jpg" alt="Mountains" width="600" height="400">
          </a>
          <div class="desc">Water Rafting</div>
        </div>
      </div>

      <hr>
      <hr>
      <hr>

      <div class="responsive" >
          <div class="gallery">
            <a>
              <img src="../../assets/images/adventure1.jpg" alt="Cinque Terre" width="600" height="400">
            </a>
            <div class="desc">BungeJumping</div>
          </div>
        </div>


        <div class="responsive">
          <div class="gallery">
            <a>
              <img src="../../assets/images/adventure5.jpg" alt="Forest" width="600" height="500">
            </a>
            <div class="desc">Zipplining</div>
          </div>
        </div>

        <div class="responsive">
          <div class="gallery">
            <a>
              <img src="../../assets/images/adventure6.jpg" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Moutain Climbing</div>
          </div>
        </div>

        <div class="responsive">
          <div class="gallery">
            <a>
              <img src="../../assets/images/adventure4.jpg" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Water Rafting</div>
          </div>
        </div>


</div>

<a (click)="SignUp()" class="center"><em>Sign Up Now!</em> And Create Your very own BUCKETLIST</a>
</div>
