<div class="my-container">
<div id="login-box">
  <div class="left-box">
    <h1> Sign Up</h1>
   <form [formGroup]="signupForm">
    <input type="text" name="username" placeholder="Username" formControlName="username"/>
    <input type="password" name="password" placeholder="Password" formControlName="password"/>
    <input type="password" name="password2" placeholder="Confirm Password" formControlName="password"/>
    <input type="submit" name="signup-button" value="Sign Up" (click)="LoginUser()">
  </form>
  </div>

  <div class="right-box">
    <span class="signinwith">Sign in with <br> Social Network</span>

    <button class="social facebook">Log in with Facebook</button>
    <button class="social twitter">Log in with Twitter</button>
    <button class="social google">Log in with Google+</button>
  </div>

  <div class="or">OR</div>
  <a (click)="backHome()"><i class="fa fa-arrow-left"></i></a>

</div>
</div>
